<h2 appSome>{{ title }}</h2>
<ul>
  <li *ngFor="let user of users">
    <h3>Name: {{ user.name }}</h3>
    <p>Emotion: {{ user.emotion }}</p>
    <p *ngIf='user.is_active' [ngClass]="{ test: user.is_active }">Email: {{ user.email }}</p>
    <p>Description: {{ user.description }}</p>
    <div *ngIf='user.is_active'>{{ user.name }}</div>

  </li>
</ul>
<li *ngFor="let user of users">
  <p>
    I turned the corner
    <span *ngIf="user.name">
      and saw {{ user.name }}. I waved
    </span>
    and continued on my way.
  </p>
</li>

<p *ngIf="true">
  Expression is true and ngIf is true.
  This paragraph is in the DOM.
</p>
<p *ngIf="false">
  Expression is false and ngIf is false.
  This paragraph is not in the DOM.
</p>



<router-outlet></router-outlet>
